@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.header,
.footer {
    width: 750px;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
}

.header h1 {
    color: #001632;
}

.header img {
    width: 75px;
    height: 75px;
    margin-right: 1rem;
}

.container {
    background-color: #001632;
    color: #fff;
    text-align: center;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.container > * {
    font-family: inherit;
}

.container > div {
    font-size: 2rem;
    width: 500px;
    height: 96px;
    padding: 1.5rem;
    font-weight: bold;
}

.container textarea {
    width: 500px;
    height: 250px;
    padding: 1rem;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
}

.container textarea:focus{
    outline: none;
}

.container button {
    background-color: #00DF6B;
    margin: 1.5rem;
    color: #001632;
    font-size: 1.5rem;
    padding: 0.5rem 4rem;
    border-radius: 30px;
    cursor: pointer;
    border: 2px solid #00DF6B;
}

.container button:hover {
    background-color: #04d66a;
    color: #000;
}

.footer {
    padding: 1rem;
    justify-content: end;
    color: #26364b;
}

@media only screen and (max-width: 750px) {
    .header,
    .footer {
        width: 100vw;
    }

    .header img {
        width: 40px;
        height: 40px;
        margin-right: 1rem;
    }

    .header h1 {
        font-size: 1rem;
    }

    .container {
        width: 100vw;
        padding: 0.5rem 0rem;
        border-radius: 0;
    }

    .container > div {
        width: 100vw;
        height: 96px;
    }

    .container textarea {
        width: 300px;
        height: 300px;
    }

    .footer {
        font-size: 0.6rem;
    }
}